@import '../../styles/mixins.scss';

.container {
  padding: 10px;
  background-color: white;
  box-shadow: 3px 3px 10px #cdcdcd, -3px -3px 10px #ffffff;
  border-radius: 10px;

  @include breakpoint(md) {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
  }
}

.heading {
  margin-top: 0;
}

.error {
  color: #e74c3c;
}

.form {
  display: grid;
  gap: 20px;
  align-items: flex-start;
}

.login {
  margin: 0;
}
